header {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 5rem;
}

div.menu {
    position: fixed;
    top: 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

nav {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    width: 5rem;
}

li:hover {
    cursor: pointer;
}

a {
    height: 100%;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}

a:hover {
    color: var(--red-buttons);
}

.main-hr {
    position: fixed;
    width: 80%;
    border: 1px solid var(--text-color);
    z-index: -1;
}

.logo {
    font-weight: 700;
    color: var(--red-buttons);
    opacity: 70%;
    transition: .2s;
}

span {
    color: white;
}

h1 {
    font-size: 1.2rem;
}

.logo:hover{
    cursor: default;
    opacity: 100%;
}

/* HOVER ANIMATION */

    /* DEFAULT ACTIVE MENU */
    .child-1 {
        color: var(--red-buttons);
    }

    .child-1 {
        background-image: var(--nav-active);
    }

    div.animation {
        position: absolute;
        background-color: var(--red-buttons);
        height: 2px;
        width: 5rem;
        top: 97%;
        border-radius: 1rem;
        transition: .2s;
        z-index: 1;
    }   

    /* CHILD 2 MENU : ABOUT */
    a.child-2:active li {
        background-image: var(--nav-active);
    }

    .child-2:hover ~ .animation {
        transform: translateX(5rem);
    }

    .child-2:hover {
        color: var(--red-buttons);
    }

    /* CHILD 3 MENU : WORK */
    a.child-3:active li {
        background-image: var(--nav-active);
    }

    .child-3:hover ~ .animation {
        transform: translateX(10rem);
    }

    .child-3:hover {
        color: var(--red-buttons);
    }
    
    /* CHILD 4 MENU : SKILL */
    a.child-4:active li {
        background-image: var(--nav-active);
    }

    .child-4:hover ~ .animation {
        transform: translateX(15rem);
    }

    .child-4:hover {
        color: var(--red-buttons);
    }
    
    /* CHILD 5 MENU : CONTACT */
    a.child-5:active li {
        background-image: var(--nav-active);
    }

    .child-5:hover ~ .animation {
        transform: translateX(20rem);
    }

    .child-5:hover {
        color: var(--red-buttons);
    }

/* BARS MENU */

div.bars {
    position: absolute;
    display: none;
}

div.bars button {
    background-color: var(--bg-color);
    border: none;
}

i {
    color: var(--text-color);
    font-size: 1.2rem;
    transition: .2s;
}

i:hover {
    cursor: pointer;
    color: var(--red-buttons);
}

/* DROP-DOWN NAVIGATION */

div.cross {
    background-color: transparent;
}

div.cross button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4.5rem;
    width: 67%;
    margin: 0 auto;
}

body {
    position: relative;
}

section.mobile-nav {
    display: none;
    position: fixed;
    width: 60%;
    height: 100vh;
    left: 40%;
    /* background-color: rgba(96, 86, 240, .97); */
    background-color: rgba(16, 16, 29, .96);
}

div.dropdown ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}